<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Consulta</title>
</head>

<body>
    <h1>
        Listado de productos
    </h1>
    <div>
        <a href="{% url 'registro' %}">Registrar nuevo producto</a>
    </div>
    <div>
        <a href="{% url 'resultado' %}">Busca por ID</a>
    </div>
    {% for producto in productos %}
    <div>
        <p>ID: {{ producto.id }}</p>
        <p>Nombre: {{ producto.nombre }}</p>
        <p>Precio: {{ producto.precio }}</p>
    </div>
    {% endfor %}
</body>

</html>